matplotlib
numpy==1.26.4
pandas
pykdtree
itkwidgets
jupyterlab>=1.0
jupyter-dash
notebook
jupyter-server-proxy
dash
scipy==1.13.1
seaborn
imageio
statsmodels
datajoint
nglui
cloud-volume==11.0.2
annotationframeworkclient
imageryclient
meshparty==1.17.0
dashdataframe==0.4.1
gdown
networkx==2.8.8
tqdm
neuroglancer
plotly
caveclient==6.5.2
h5py==3.12.1
fastremap==1.15.0
orjson==3.10.11
scikit-learn==1.5.2
multiwrapper==0.1.1
treelib