matplotlib
numpy
pandas
pykdtree
itkwidgets
jupyterlab>=1.0
jupyter-dash
notebook
jupyter-server-proxy
dash
scipy
seaborn
imageio
statsmodels
datajoint
nglui
cloud-volume
annotationframeworkclient
imageryclient
meshparty
dashdataframe==0.4.1
gdown
networkx
tqdm
neuroglancer
plotly
caveclient